<plugin name='blazeds' version='1.0' grailsVersion='1.2.0 &gt; *'>
  <author>Sebastien Arbogast</author>
  <authorEmail>sebastien.arbogast@gmail.com</authorEmail>
  <title>Grails BlazeDS 4 Integration</title>
  <description>\
Basic plugin to integrate BlazeDS 4 into Grails so that you can connect to a Grails backend with a Flex 4 frontend
</description>
  <documentation>http://grails.org/plugin/blazeds</documentation>
  <resources>
    <resource>BootStrap</resource>
    <resource>BuildConfig</resource>
    <resource>DataSource</resource>
    <resource>SecurityConfig</resource>
    <resource>UrlMappings</resource>
    <resource>spring.resources</resource>
    <resource>LoginController</resource>
    <resource>LogoutController</resource>
    <resource>Requestmap</resource>
    <resource>Role</resource>
    <resource>User</resource>
    <resource>EchoService</resource>
  </resources>
  <dependencies>
    <plugin name='acegi' version='0.5.3 &gt; *' />
    <resolvers>
      <resolver type='grailsPlugins' name='grailsPlugins' />
    </resolvers>
  </dependencies>
  <behavior />
</plugin>